{% extends 'dashboard/base.html' %}
{% block content %}
<div class="row" style="margin:20px">
  <div class="card" style="width: 18rem;margin:15px;">
    <div class="card-body">
      <h5 class="card-title">Langages et Développement Web</h5>
      <p class="card-text"><b>Charger de cours : </b><br> Samuel SZONIECKY</p>
      <a href="{% url 'LDW' %}" class="btn btn-dark card-link">Liste Des Présences</a>
    </div>
  </div>

    <div class="card" style="width: 18rem;margin:15px;">
    <div class="card-body">
      <h5 class="card-title">Techniques Informatiques & Web</h5>
      <p class="card-text"><b>Charger de cours : </b> <br>Nasreddine BOUHAI</p>
      <a href="{% url 'TIW' %}" class="btn btn-dark card-link">Liste Des Présences</a>
    </div>
  </div>

    <div class="card" style="width: 18rem;margin:15px;">
    <div class="card-body">
      <h5 class="card-title">Technologies émergentes & Innovation</h5>
      <p class="card-text"><b>Charger de cours : </b> <br>Imad SALEH<br></p>
      <a href="{% url 'TEI' %}" class="btn btn-dark card-link">Liste Des Présences</a>
    </div>
  </div>

      <div class="card" style="width: 18rem;margin:15px;">
    <div class="card-body">
      <h5 class="card-title">Gestion & conduite de projet</h5>
      <p class="card-text"><b>Charger de cours : </b><br> Khaldoun ZREIK</p>
      <a href="{% url 'LDW' %}" class="btn btn-dark card-link">Liste Des Présences</a>
    </div>
  </div>

      <div class="card" style="width: 18rem;margin:15px;">
    <div class="card-body">
      <h5 class="card-title">Théories et conception des Hypermédias</h5>
      <p class="card-text"><b>Charger de cours : </b><br> Imad SALEH</p>
      <a href="{% url 'LDW' %}" class="btn btn-dark card-link">Liste Des Présences</a>
    </div>
  </div>

        <div class="card" style="width: 18rem;margin:15px;">
    <div class="card-body">
      <h5 class="card-title">Prospectives numériques</h5>
      <p class="card-text"><br><b>Charger de cours : </b><br> Khaldoun Zreik</p>
      <a href="{% url 'LDW' %}" class="btn btn-dark card-link">Liste Des Présences</a>
    </div>
  </div>

          <div class="card" style="width: 18rem;margin:15px;">
    <div class="card-body">
      <h5 class="card-title">Réseau & Sécurité Web</h5>
      <p class="card-text"><br><b>Charger de cours : </b><br> Rémy BOYER</p>
      <a href="{% url 'LDW' %}" class="btn btn-dark card-link">Liste Des Présences</a>
    </div>
  </div>

            <div class="card" style="width: 18rem;margin:15px;">
    <div class="card-body">
      <h5 class="card-title">Visualisation, Interface et Interactivité</h5>
      <p class="card-text"><b>Charger de cours : </b><br> Everardo REYES</p>
      <a href="{% url 'LDW' %}" class="btn btn-dark card-link">Liste Des Présences</a>
    </div>
  </div>


            <div class="card" style="width: 18rem;margin:15px;">
    <div class="card-body">
      <h5 class="card-title">Outils et développement Multimédia</h5>
      <p class="card-text"><b>Charger de cours : </b><br> Nasreddine BOUHAI</p>
      <a href="{% url 'LDW' %}" class="btn btn-dark card-link">Liste Des Présences</a>
    </div>
  </div>
</div>
</div>


{% endblock %}